@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

body {
  background-image: url(../src/boardwalkheader.jpg);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  font-size: 20px;
}
h1 {
  font-family: 'Bowlby One SC', cursive;
  font-size: 4em;
  text-align: center;
  margin: auto 0;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

div#content {
  display: flexbox;
  place-items: center;
}

div#nav {
  display:flex;
  margin: 0 auto;
}

div#dataContainer {

  background-color: rgba(255, 248, 220, 0.527);
  border-radius: 20px;
  width: 50vw;
  height: 50vh;
  /* padding: 0px 10px; */
}

button.tabs {
  display: block;
  width: 100%;
  border-radius: 10px 10px 20px 20px;
  min-height: 2em;
  margin: 4px 2px;
  padding: 0;
  font-size: medium;
  font-style: bolder;
}

button.tabs:hover, button.tabs:focus {
  background-color: rgba(122, 126, 101, 0.605);
}

button.tabs:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button.tabs:active {
  background-color: rgba(122, 126, 101, 0.605);
}

p#tagline {
  font-size: large;
  font-style: italic;
  text-align: center;
}
p#about {
  text-indent: 2em;
  padding: 0 5px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

section#brunch {
  justify-content: center;
  border: crimson solid 1px;
  margin: 20px auto;
}

section#dinner {
  justify-content: center;
  border: blue solid 1px;
  margin: 20px auto;
}